<!-- <nb-layout class="bg-white">
  <nb-layout-column> -->
<div class="main-container">
  <div class="card-container">
    <p-card>
      <ng-template pTemplate="header">
        <div>
          <h4><b>Wkaya Login</b></h4>
        </div>
      </ng-template>
      <section class="login-form">
        <form  #form="ngForm" (ngSubmit)="login()" [formGroup]="loginForm" aria-labelledby="title">
          <div class="form-group form-control-group">
            <label class="label" for="input-username">Email:</label>
            <!-- pattern=".+@.+\..+" -->
            <input
              nbInput
              fullWidth
              name="email"
              formControlName="email"
              id="input-username"
              placeholder="Email"
              autofocus
              [status]="
                loginForm.get('email').dirty
                  ? loginForm.get('email').invalid
                    ? 'danger'
                    : 'primary'
                  : 'basic'
              "
              [required]=""
              [attr.aria-invalid]="
                loginForm.get('email').invalid && loginForm.get('email').touched ? true : null
              "
            />
            <ng-container *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
              <span
                class="caption status-danger"
                *ngIf="loginForm.get('email').hasError('required')"
              >
                Email is required!
              </span>
              <span
                class="caption status-danger"
                *ngIf="loginForm.get('email').hasError('email')"
              >
                Email should be valid!
              </span>
            </ng-container>
          </div>

          <div class="form-group form-control-group">
            <label class="label" for="input-password">Password:</label>
            <input
              nbInput
              fullWidth
              name="password"
              type="password"
              id="input-password"
              placeholder="Password"
              formControlName="password"
              [status]="
              loginForm.get('password').dirty
                  ? loginForm.get('password').invalid
                    ? 'danger'
                    : 'primary'
                  : 'basic'
              "

              [attr.aria-invalid]="
                loginForm.get('password').invalid && loginForm.get('password').touched ? true : null
              "
            />
            <ng-container *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
              <span
                class="caption status-danger"
                *ngIf="loginForm.get('password').hasError('required')"
              >
                Password is required!
              </span>
              <span
                class="caption status-danger"
                *ngIf="
                loginForm.get('password').errors?.minlength || loginForm.get('password').hasError('maxlength')
                "
              >
                Password should contains from
                {{ minlength }} to
                {{ maxlength}}
                characters
              </span>
            </ng-container>
          </div>

          <!-- <div class="form-group form-control-group accept-group">
              <nb-checkbox
                name="rememberMe"
                [(ngModel)]="user.rememberMe"
                *ngIf="rememberMe"
                >Remember me</nb-checkbox
              >
            </div> -->
          <div class="buttons-container">
            <button
              nbButton
              status="primary"
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted"
            >
              Sign In
            </button>
          </div>
        </form>
      </section>
    </p-card>
  </div>
</div>

<!-- </nb-layout-column>
</nb-layout> -->
