.login-form {
  background-color: #fff;
  padding-top: 50px;
  .logo{
    margin-bottom: 1rem;
  }
}
.policy p{
  text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    // text-transform: capitalize;
}
.bg-white {
  background: #fff !important;
  .layout {
    background: #fff !important;
  }
}
