.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  .card-container {
    width: 600px;
    height: 100%;
    p-card {
      ::ng-deep {
        .p-card {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          height: 100%;
          .p-card-header {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .form-control-group{
            padding-bottom: 12px;
            label{
              display: flex;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
    .buttons-container {
      margin-top: 12px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
